__pycache__/
*.py[cod]
.pytest_cache/
.coverage
.mypy_cache/
.venv/
env/
.env

datasets/
outputs/
logs/
wandb/
exp/
checkpoints/
save_dir*/
generated_mels/
multirun/
Samples/
MOS_sample_codec/

*.ckpt
*.pkl
*.pt
*.pth
*.wav.spec
*.ipynb
*.avi
*.flac
*.mp3
*.mp4
*.wav
